<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.health.READ_HEART_RATE" />
  <uses-permission android:name="android.permission.health.READ_BLOOD_PRESSURE" />
  <uses-permission android:name="android.permission.health.READ_WEIGHT" />
  <queries><package android:name="com.google.android.apps.healthdata" /></queries>
  <application android:label="My Timber" android:icon="@drawable/my_timber_icon"
      android:theme="@style/MyTimberTheme" android:usesCleartextTraffic="false"
      android:allowBackup="false" android:fullBackupContent="false">
    <activity android:name=".PermissionsRationaleActivity" android:exported="true">
      <intent-filter><action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" /></intent-filter>
    </activity>
    <activity-alias android:name="ViewPermissionUsageActivity" android:exported="true" android:targetActivity=".PermissionsRationaleActivity" android:permission="android.permission.START_VIEW_PERMISSION_USAGE">
      <intent-filter><action android:name="android.intent.action.VIEW_PERMISSION_USAGE" /><category android:name="android.intent.category.HEALTH_PERMISSIONS" /></intent-filter>
    </activity-alias>
    <receiver android:name=".TreatmentReminderReceiver" android:exported="false" />
    <provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.treatment-files" android:exported="false" android:grantUriPermissions="true"><meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/treatment_files" /></provider>
    <activity android:name=".MainActivity" android:exported="true"
        android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
